 #mapContainer {
    display: flex;
 }

 .map {
     height: 400px;
     width: 87%;
 }

 #geoLayers {
    width: 13%;
    border: 3px solid #73c7ff;
    border-collapse: collapse;
    text-shadow: 1px 1px black;
    margin: 0;
    color: #dbe7f0;
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
 }

#layerHeader {
    text-align: center;
}

 div input[type="checkbox"] {
    margin: 0px 5px 10px 5px;
 }

 table.zikaTable {
   border: 1px solid #1C6EA4;
   background-color: #EEEEEE;
   width: 100%;
   text-align: left;
   border-collapse: collapse;
   table-layout: fixed;
 }
 table.zikaTable td, table.zikaTable th {
   border: 1px solid #AAAAAA;
   padding: 3px 2px;
 }
 table.zikaTable tbody td {
   font-size: 13px;
 }

 table.zikaTable tr:nth-child(even) {
   background: #D0E4F5;
 }
 table.zikaTable thead {
   background: #1C6EA4;
   background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
   background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
   background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
   border-bottom: 2px solid #444444;
 }
 table.zikaTable thead th {
   font-size: 15px;
   font-weight: bold;
   color: #FFFFFF;
   border-left: 2px solid #D0E4F5;

 }
 table.zikaTable thead th:first-child {
   border-left: none;
 }

#zikaHeader {
    text-shadow: 1px 1px black;
    text-align: center;
    margin: 0;
    color: #dbe7f0;
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}

#legend {
    position: absolute;
}

#legendImage {
    top: -120px;
    left: 5px;
    position: absolute;
}

#reports {
    overflow: auto;
    height: 355px;
}

#mapPlaceholder .ol-zoom .ol-zoom-out {
    margin-top: 204px;
}
#mapPlaceholder .ol-zoomslider {
    background-color: transparent;
    top: 2.3em;
}

#mapPlaceholder .ol-touch .ol-zoom .ol-zoom-out {
    margin-top: 212px;
}
#mapPlaceholder .ol-touch .ol-zoomslider {
    top: 2.75em;
}

#mapPlaceholder .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
#mapPlaceholder .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
    top: 3px;
}

#mapPlaceholder .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
#mapPlaceholder .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
    top: 232px;
}

#utilDiv {
border-bottom: 2px solid black;
background: #1C6EA4;
   background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
   background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
   background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
   border-bottom: 2px solid #444444;
   height: 30px;
}

#exportButton {
    width: 10%;
    float: right;
    border-left: 2px solid white;
    text-shadow: 1px 1px black;
    text-align: center;
    margin: 0;
    color: #dbe7f0;
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #85ceff 0%, #44a1de 66%, #268cd0 100%);
    background: -webkit-linear-gradient(top, #85ceff 0%, #44a1de 66%, #268cd0 100%);
    background: linear-gradient(to bottom, #85ceff 0%, #44a1de 66%, #268cd0 100%);
    border-bottom: 2px solid #444444;
    height: 30px;
    cursor: pointer;
}

#clearButton {
    width: 10%;
    float: right;
    border-left: 2px solid white;
    text-shadow: 1px 1px black;
    text-align: center;
    margin: 0;
    color: #dbe7f0;
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #85ceff 0%, #44a1de 66%, #268cd0 100%);
    background: -webkit-linear-gradient(top, #85ceff 0%, #44a1de 66%, #268cd0 100%);
    background: linear-gradient(to bottom, #85ceff 0%, #44a1de 66%, #268cd0 100%);
    border-bottom: 2px solid #444444;
    height: 30px;
    cursor: pointer;
}

#popup {
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    border: 1px solid rgb(170, 170, 170);
    position: absolute;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

#popupLabel {
    color: black;
}

.popupButton {
    width: 30%;
    border-left: 2px solid white;
    text-shadow: 1px 1px black;
    text-align: center;
    margin: 0;
    color: #dbe7f0;
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
    cursor: pointer;
}

#dateSelect {
    float: right;
    margin-top: -30px;
    margin-right: 10px;
}

#searchDiv {
    float: right;
    margin-top: -35px;
    margin-right: 120px;
}

.searchTerm {
    border: 3px solid #8ce9ff;
    border-radius: 5px 0px 0px 5px;
    border-right: none;
    margin-right: -7px;
    height: 20px;
}

.searchButton {
    border: 3px solid #8ce9ff;
    border-radius: 0px 5px 5px 0px;
    height: 28px;
    border-left: none;
    margin-top: 1px;
    background: #8ce9ff;
}

.searchButton:hover {
    background: #00a8d0;
    border: 3px solid #00a8d0;
    border-left: none;
    cursor: pointer;
}

#searchSelect {
    border: 3px solid #8ce9ff;
    border-radius: 5px 0px 0px 5px;
    border-right: none;
    border-left: none;
    margin-right: -13px;
    height: 28px;
}